@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #252B42;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    position: relative;
    max-width: 1110px;
    padding: 0px 30px;
    margin: 0px auto;
}


header{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
}
.header-nav {
    min-height: 91px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #252B42;
}
.nav{

}
.nav-list {
    display: flex;
    column-gap: 21px;
}
.nav-item{

}
.nav-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    color: #737373;
}
.buttons_nav {
    display: flex;
    column-gap: 45px;
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
}
.button-border {
    color: #96BB7C;
    padding: 15px 0px;
}
.button-backgraund {
    background-color: #96BB7C;
    color: #fff;
    border-radius: 5px;
    padding: 15px 25px;
}
.page{
    flex: 1 1 auto;
}
/*-----------------------------------------------------*/
.header-row {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 112px 0px;
}
.header-content {
    max-width: 686px;
}
.header_green {
    color: #96BB7C;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 40px;
}
.header_title {
    font-weight: 700;
    font-size: 58px;
    line-height: 138%;
    letter-spacing: 0.2px;
    margin-bottom: 40px;
}
.header_sub {
    color: #737373;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.2px;
    margin-bottom: 40px;
}
.header_buttons {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
    margin: 0 auto 40px;
    column-gap: 10px;
}
.header_button-green {
    background-color: #96BB7C;
    color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
}
.header-button-border {
    padding: 15px 40px;
    border: 2px solid #96BB7C;
    color: #96BB7C;
    border-radius: 5px;
    
}
.client-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
.client-item {
}
/*----------------------cart---------------------------------*/

.cart {
    padding: 112px 0px;
}
.cart_header {
    max-width: 691px;
}
.header_cart {
}
.header_cart-green {
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    color: #96BB7C;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}
.header_cart-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}
.header_cart-sub {
    color: #737373;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
}
.cart_header-body {
    margin-top: 112px;
}
.cart_header-column {
    display: flex;
    justify-content: space-between;
}
.cart_header_item {
    padding: 35px 40px;
    width: 238px;
    height: 288px;
}
.cart_header_item:nth-child(3){
    background-color: #96BB7C;
}
.cart_header-link {
}
.cart_header-icon {
    margin-bottom: 20px;
}
.cart_header-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #252B42;
    margin-bottom: 20px;
}
.transform_cart-title{
    color: #fff;
}

.cart_header-line {
    background-color: #E74040;
    width: 50px;
    height: 2px;
    margin-bottom: 20px;
}
.transform_cart-line{
    background-color: #fff;
}
.cart_header-text {
    color: #737373;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
}
.transform_cart-text{
    color: #fff;
}
/*-----------------------------------------------------*/
.courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 160px 0px;
}
.course_image {
}
.content_courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 381px;
    gap: 35px;
}
.courses_red-line {
    background-color: #E74040;
    width: 94px;
    height: 7px;
}
.courses_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0.2px;
}
.courses_text {
    color: #737373;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
}
.courses_green-text {
    color: #96BB7C;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
}
/*----------------------------------------------*/
.experts{
    display: flex;
    flex-direction: column;
    padding: 112px 0px;
    gap: 112px;
}
.experts_header{
    max-width: 691px;
}
.block_cart{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}
.expert_cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 238px;
}
.expert_image {
}
.expert_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 238px;
    padding: 25px;
    gap: 10px;
}
.green_number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.green_text {
    color: #96BB7C;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
}
.number {
}
.expert_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.expert_sub {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
}
.expert_sales {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.icon_nomber {
}
.nomber {
    color: #737373;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
}
.expert_money {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
    padding: 5px 3px;
}
.gray {
    color: #BDBDBD;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.orange {
    color: #FFAB71;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.expert_level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    gap: 10px;
    color: #737373;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    width: 199px;
}
.pro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.pro_image {
}
.pro_text {
}
.les {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.les_image {
}
.les_text {
}
.hr {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.hr_image {
}
.hr_text {
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    border: 1px solid #96BB7C;
    border-radius: 37px;
}
.text {
    color: #96BB7C;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
}
.button_icon {
}
/*-----------------------------------------------------*/
.quality{
    display: flex;
    flex-direction: column;
    padding: 160px 0px;
    gap: 80px;
}
.block_quality {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.quality_cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 40px;
    gap: 35px;
    width: 348px;
}
.quality_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
}
.quality_sub {
    color: #737373;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
}
.quality_money {
}
.quality_col {
    color: #96BB7C;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0.2px;
}
.quality_blue {
    color: #8EC2F2;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
}
.quality_text {
    color: #737373;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
}
.quality-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #96BB7C;
    border-radius: 5px;
    padding: 15px 40px;
    width: 243px;
}
.quality-text {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
}
.quality_product-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.product_quality-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.product_quality-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
}
/*--------------------------------------*/

.test{
    display: flex;
    flex-direction: column;
    padding: 160px 0px;
    gap: 96px;
}
.block_test {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.test_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    width: 508px;
}
.cart-test {
}
.test_image {
}
.test_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 15px;
}
.test_sub {
    color: #737373;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
}
.stars {
}
.des {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
    gap: 5px;
}
.test_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.test_designer {
    color: #737373;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
}
/*----------------------------------------*/

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0px;
    gap: 80px;
}
.section_cart{
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 10px;
}

.section_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 688px;  
    height: 58px; 
}
.section_email{
    width: 571px;
    background-color: #E6E6E6;
    padding: 15px 20px 15px 20px;
}
.section_submit{
    background-color: #96BB7C;
    padding: 15px 23px;
}
.text_section{
    color: #fff;
}
/*-----------------------------------------------------*/
.footer{
    
}
.info {
}
.info_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0px;
}
.info_row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}
.col_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 148px;
}
.info_col{
    width: 321px;
}
.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.links_info{
    width: 286px;
}
.link_1 {
    color: #737373;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
}
.link_flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.cont {
}
.cont_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0px;
}
.cont_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 213px;
}
.col_cont-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
}
.cont_title {
    color: #737373;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
}
.col_cont-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}